.head{
    color: aqua;
    background: pink;
    
}
p{
    color: rgb(14, 70, 51);
}

.form-data{
    background: hotpink;
    input{
        background: khaki;
    }
}

.para{
    background: darkcyan
}
.message{
    background: rgb(38, 43, 110);
    .flashes{
        background: rgb(101, 117, 117);
    }
}

.wrap{
    input{
        background: greenyellow
    }
    .btn{
        background: red;
    }
}